.ImageFunction{
    
  text-align: center;
  display: flex;  
  margin-top: 3.5rem;
    
}

.content{

  padding: 0 4.8rem;

}

.imagefu{

}

.imagef{
  width: 35%;
}

.titlef{

  color: #374048;
  font-size: 1.5rem;

}

.titlefu{

  
    
}

.textf{


}

textfu{

  color: #808A8D;
  font-size: 20px;
  font-weight: 400;
 

}