.inp{
 width: 12rem;
 display: block;
}

.buttonChecktout{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 10rem;
    height: 2rem;
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

