.buttonSlider{ 
    position: absolute;
    top: 27rem;
    left: 33rem;
}

.ac{
    background-color: #0084FF;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
}

